<% if(typeof me === 'undefined') {
  // In case we're displaying the 404 or 500 page and relevant code in the "custom" hook was not able to run,
  // we make sure `me` exists.  This ensures we don't have to do `typeof` checks below.
  var me = undefined;
} %><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ideask</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <% /* Certain scripts, normally analytics tools like Google Tag Manager and
    Google Analytics, should only be included in production: */
    if (sails.config.environment === 'production') { %>
    <!-- Google Analytics, Google Tag Manager, etc. -->
    <% }
    /* Otherwise, any such scripts are excluded, and we instead inject a
    robots/noindex meta tag to help prevent any unwanted visits from search engines. */
    else { %>
    <meta name="robots" content="noindex">
    <% } %>

    <% /*
        Stylesheets
        ========================

        Stylesheets can be hard-coded as «link» tags, automatically injected
        by the asset pipeline between "STYLES" and "STYLES END", or both.
        (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Auto-injected «link» tags: */ %>
    <!--STYLES-->
    <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap.min.css">
    <link rel="stylesheet" href="/dependencies/now-ui-dashboard.css">
    <link rel="stylesheet" href="/dependencies/now-ui-kit.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>
  <body>

          <!-- LOGGED-IN NAVIGATION -->
          <% if(me) { %>

          <!-- Only in desktop nav -->
          <div class="wrapper ">
          <div class="sidebar" data-color="orange">
            <div class="logo">
              <a href="#" class="simple-text logo-mini">
              </a>
              <a href="#" class="simple-text logo-normal">
                <img src="/images/ideask-logo.png" alt="" width="70%">
              </a>
            </div>
            <div class="sidebar-wrapper">
              <ul class="nav">
                <li>
                  <a href="/idea">
                    <i class="now-ui-icons design_app"></i>
                    <p>Home</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="now-ui-icons ui-1_bell-53"></i>
                    <p>Notifications</p>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Profile</p>
                  </a>
                </li>
                <li>
                  <a href="/user-ideas">
                    <i class="now-ui-icons business_bulb-63"></i>
                    <p>Ideas</p>
                  </a>
                </li>
                <li class="active-pro">
                  <a href="/logout">
                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                    <p>Configuration</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="main-panel">
          <nav class="navbar navbar-expand-lg fixed-top navbar-transparent  bg-primary  navbar-absolute">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <div class="navbar-toggle">
                  <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
                <a class="navbar-brand" href="#">User name</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <form>
                  <div class="input-group no-border">
                    <div class="input-group-append">

                    </div>
                  </div>
                </form>
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/logout">
                      <i class="now-ui-icons media-1_button-power"></i>
                      <p>
                        <span class="d-lg-none d-md-block">Logout</span>
                      </p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="panel-header panel-header-sm"></div>
          </div>


          <% } else { %>
          <!-- LOGGED-OUT NAVIGATION -->

          <!-- Only in desktop nav -->
          <!-- <div class="form-inline d-none ml-2 d-md-block" >
            <a class="btn btn-outline-info" href="/login">Login</a>
            <a class="btn btn-outline-info" href="/signup">Register</a>
          </div> -->

          <% } %>
        </div>

      <%- body %>

      <footer class="footer">
      <div class="container">
        <nav>
          <ul>
            <li>
              <a href="/contact">
                Contact
              </a>
            </li>
            <li>
              <a href="/legal/terms">
                Terms
              </a>
            </li>
            <li>
              <a href="/legal/privacy">
                Privacy
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
          Copyright &copy; 2018, Designed by <a href="#">Ideask inc.</a>.
        </div>
      </div>
    </footer>

    <% /*
      Client-side JavaScript
      ========================

      Scripts can be hard-coded as «script» tags, automatically injected
      by the asset pipeline between "SCRIPTS" and "SCRIPTS END", or both.
      (https://sailsjs.com/docs/concepts/assets/task-automation)
    */ %>

    <% /* Load Stripe Checkout */ %>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <% /* Delete the global `self` to help avoid client-side bugs.
    (see https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>delete window.self;</script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/vue-router.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap.min.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/core/bootstrap.min.js"></script>
    <script src="/dependencies/core/jquery.min.js"></script>
    <script src="/dependencies/core/popper.min.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/dependencies/plugins/bootstrap-notify.js"></script>
    <script src="/dependencies/plugins/chartjs.min.js"></script>
    <script src="/dependencies/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/js-timestamp.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>
    <script src="/js/pages/498.page.js"></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/dashboard/welcome.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/ideas/edit-idea.page.js"></script>
    <script src="/js/pages/ideas/idea.page.js"></script>
    <script src="/js/pages/ideas/user-ideas.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
