<div id="welcome">
<div class="main-panel">
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title"> Peoples ideas</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  <router-view></router-view>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
